
.wrapper {
    padding: 20px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.wrapper h1{
    margin: auto;
}

.header h1 {
    font-size: 24px;
    margin: auto;

}

.header p {
    font-size: 16px;
    color: #666;
}
.header{
    text-align: center;
    margin: 20px;
    
}

button{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: #333;
    padding: 0px 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin: 15px auto;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
}
button:hover {
    background: #0D99FF;
}

.tableBody td button{
    width: 250px;
    margin: auto;
}

  .tableBody {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  .tableBody th,
  .tableBody td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

 
